# Neo4j Configuration
NEO4J_URI=neo4j+s://1830e6d9.databases.neo4j.io
NEO4J_USER=1830e6d9
NEO4J_PASSWORD=EgF3Y_rYkVieSX9k5L_C67zEnxzW8POHnGImXRWLQH8

# Project Settings
ENVIRONMENT=dev
LOG_LEVEL=INFO
MODEL_PATH=models/gnn_model.pt

# Data Paths
DATA_DIR=data
FEATURES_PATH=data/raw/elliptic_txs_features.csv
EDGES_PATH=data/raw/elliptic_txs_edgelist.csv
CLASSES_PATH=data/raw/elliptic_txs_classes.csv
